
@model WebDauGia.Models.CONTACT
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Liên hệ</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="home.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Liên hệ</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">

            <div class="box text-center">

                <section class="bar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading">
                                <h2>Liên hệ bán tài sản</h2>
                            </div>
                            <p class="lead">Hãy nhập đầy đủ thông tin cá nhân và thông tin chi tiết tài sản bạn muốn bán vào bên dưới:</p>

                        </div>
                    </div>
                </section>
                <div class="container">
                    <div class="col-md-12">

                        <div class="row py-1 mt-4 align-items-center">

                            <div class="col-sm-6">
                                <img src="~/Public/img/support.png" alt="" class="img-fluid">
                            </div>
                            <div class="col-sm-6 shadow">
                                @Html.ValidationSummary(true)

                                @using (Html.BeginForm("ContactPage", "Contact", FormMethod.Post, new { @class="needs-validation", role = "form" }))
        {
                                @*<form class="needs-validation" novalidate>*@
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="name" type="text" class="form-control" id="validationCustom01" placeholder="Họ tên...">

                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input name="phone" id="phone" type="number" class="form-control" placeholder="Số điện thoại" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input name="email" id="email" type="text" class="form-control" placeholder="Email" required>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input id="Address" type="text" class="form-control" placeholder="Nơi công tác" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <textarea name="title" id="title" class="form-control" placeholder="Tên tài sản" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <textarea name="body" id="message" class="form-control" placeholder="thông tin chi tiết tài sản" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 py-5 text-center">
                                            <button type="submit" class="form-control bg-success btn btn-primary">
                                                <i class="fa fa-envelope-o"></i> Gửi tin nhắn
                                            </button>
                                        </div>
                                    </div>
                                @*</form>*@
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <section>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div id="map"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Carousel End-->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    // This example displays a marker at the center of Australia.
    // When the user clicks the marker, an info window opens.10.85524289259457, 106.78536226833974
    function initMap() {
        const uluru = { lat: 10.85524289259457, lng: 106.78536226833974 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: uluru,
        });
        const contentString = 'Đại Học Hutech Khu E, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh, Vietnam&amp;daddr=Đại Học Hutech Khu E, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh, Vietnam&amp;t=&amp;z=20&amp;ie=UTF8&amp;iwloc=B&amp;output=embed';
        const infowindow = new google.maps.InfoWindow({
            content: contentString,
        });
        const marker = new google.maps.Marker({
            position: uluru,
            map,
            title: "Địa chỉ",
        });
        marker.addListener("click", () => {
            infowindow.open({
                anchor: marker,
                map,
                shouldFocus: false,
            });
        }
        );
    }
    google.maps.event.addDomListener(window, 'load', initMap);
</script>
<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        text-align: right;
        width: 100%;
        height: 430px;
    }
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>