@model WebDauGia.Models.BLOG

@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <!-- Carousel Start-->
  
            <div class="dark-mask mask-primary"></div>
            <div class="container">
               
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <p><img src="img/logo.png" alt="" class="ml-auto"></p>
                                <h1>Multipurpose responsive theme</h1>
                                <p>Business. Corporate. Agency.<br>Portfolio. Blog. E-commerce.</p>
                            </div>
                            <div class="col-md-7"><img src="img/template-homepage.png" alt="" class="img-fluid"></div>
                        </div>
                    </div>
                    
                  
           
        </div>
        <!-- Carousel End-->

