
@model IEnumerable<WebDauGia.Models.PRODUCT>
@using System.Globalization
@{
    ViewBag.Title = "Trang chu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all">
    <div id="content">
        <div id="hot">
            <div class="box py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-0">TÀI SẢN SẮP ĐƯỢC ĐẤU GIÁ</h2>

                            <div class="section-border"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="product-slider owl-carousel owl-theme">
                    @foreach (var i in ViewBag.Product)
                    {
                        <a href="@Url.Action("Detail","Product", new { @id = i.IdProduct}, null)">
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="image">
                                            @foreach (var img in i.IMG)
                                            {
                                                <img src="@Url.Content(img.LinkImg)" alt="" class="img-fluid">
                                            }
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3>@i.NameProduct</h3>
                                        <p class="price">
                                            <b>Giá khởi điểm:</b>
                                            <span> @string.Format(new CultureInfo("vi-VN"), "{0:c}", i.PriceBuy)</span>
                                        </p>
                                        <p class="time">
                                            <span>Thời gian:@i.StartingDate.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="box slideshow">
                    <h2 class="mb-0">TÀI SẢN SẮP ĐƯỢC ĐẤU GIÁ</h2>
                    <p class="lead">Get the inspiration from our world class designers</p>
                    <div id="get-inspired" class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="#"><img src="~/Public/img/bat_dong_san.jpg" alt="Get inspired" class="img-fluid"></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="img/getinspired2.jpg" alt="Get inspired" class="img-fluid"></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="img/getinspired3.jpg" alt="Get inspired" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box text-center">
            <div class="container">
                <div class="col-md-12">
                    <h3 class="text-uppercase">TIN TỨC ĐẤU GIÁ</h3>
                    <div class="section-border"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div id="blog-homepage" class="row">
                    <div class="col-sm-6">
                        <div class="post">
                            <h4><a href="post.html">Fashion now</a></h4>
                            <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and style</a></p>
                            <hr>
                            <p class="intro">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                                sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            </p>
                            <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="post">
                            <h4><a href="post.html">Who is who - example blog post</a></h4>
                            <p class="author-category">By <a href="#">John Slim</a> in <a href="">About Minimal</a></p>
                            <hr>
                            <p class="intro">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                                sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            </p>
                            <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box text-center">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0">LIÊN HỆ VỚI CHÚNG TÔI</h2>
                        <div class="section-border"></div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="col-md-12">

                    <div class="row py-1 mt-4 align-items-center">

                        <div class="col-sm-6">
                            <img src="~/Public/img/support.png" accesskey="" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-6 shadow">

                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <input id="firstname" type="text" class="form-control" placeholder="Họ tên">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <input id="phone" type="number" class="form-control" placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <input id="email" type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <input id="Address" type="text" class="form-control" placeholder="Nơi công tác">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <textarea id="message" class="form-control" placeholder="tin nhắn"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 py-5 text-center">
                                        <button type="submit" class="form-control bg-success btn btn-primary">
                                            <i class="fa fa-envelope-o"></i> Gửi tin nhắn
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>